button {
  margin-top: 0.4rem;
  border: none;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: transparent;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  transition: background-color 0.8s, color 0.8s, text-decoration-color 0.8s, transform 0.2s;
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

input {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #555555;
  padding: 0;
  outline: none;
}

table {
  width: 100%;
  border-spacing: 0;
}

td {
  width: 50%;
}

#confirm-button-ext {
  background-color: white;
  color: black;
  border: 1px solid #4CAF50;
}

#confirm-button-ext:hover {
  background-color: #4CAF50;
  color: white;
  text-decoration-color: white;
}

#clear-button-ext {
  background-color: white;
  color: black;
  border: 1px solid #555555;
}

#clear-button-ext:hover {
  background-color: #555555;
  color: white;
  text-decoration-color: white;
}
